/*base css*/
:root{
  --background: url('./imgs/adventureBeginning.png') no-repeat center center fixed;
}
body{
color: white;
text-align: center;
font-family: comic serif;
font-size: 22px;
background: var(--background);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


/*Successfully submitted header*/
#successSub{
  margin-top: 200px;
}
/*user inputs story*/
#premiseInput{
  vertical-align: middle;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}
/*user inputs title*/
#optionInput{
  height: 25px;
  width: 500px;
  font-size: 20px;
}
/*intro story*/
#premiseText{
  text-shadow: 2px 0 black, 2px 0 black, 2px 0 black, 0 2px black;
  text-align: justify;
  padding: 100px;
  font-size: 30px;
}
/*start link*/
#login{
  font-size: 75px;
}
/*all links*/
.links{
  font-size: 30px;
}
/*all headers*/
.header{
  font-size: 72px;
  text-shadow: 2px 0 black, 3px 0 black, 2px 0 black, 0 3px black;
}
/*all labels*/
.labels{
  text-shadow: 2px 0 black, 2px 0 black, 2px 0 black, 0 2px black;
  font-size: 35px;
}
/*character count*/
.count{
  text-shadow: 1px 0 black, 1px 0 black, 1px 0 black, 0 1px black;
  font-size: 25px;
}
/*all buttons*/
button{
  border-style: solid;
  border-color: black;
  font-size: 25px;
  border-radius: 50px;
  box-shadow: 2px 3px grey;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: ;
}
button:hover{
  background-color: #cc0000;
  box-shadow: 2px 3px black;
  font-weight: bold;
}
/*base for option links*/
.mainDisplayOptionText{
  font-size: 30px;
  font-family: comic serif;
  font-weight: bold;
}
/*choose your own adventure*/
#chooseAdvent{
  margin-top: 100px;
}
/*the end*/
#theEnd{
  text-shadow: 2px 0 black, 2px 0 black, 2px 0 black, 0 2px black;
  font-size: 75px;
}
/*color for end link*/
#mainDisplayEndBranch{
  color: darkred;
}
/*color for end link on hover*/
#mainDisplayEndBranch:hover{
  color: red;
  font-weight: bold;
}
/*color for add new option link*/
#mainDisplayAddNewOptionTwo{
  color: #25628D;
}
/*color for new option link on hover*/
#mainDisplayAddNewOptionTwo:hover{
  color: red;
  font-weight: bold;
}
/*color for add new option link*/
#mainDisplayAddNewOptionOne{
  color: #25628D;
}
/*color for new option link on hover*/
#mainDisplayAddNewOptionOne:hover{
  color: red;
  font-weight: bold;
}
/*takes away lines from links*/
a:link{
  text-decoration: none;
}
/*hover for links not covered above*/
a:hover{
  color: red;
  font-weight: bold;
}
